<div class='row'>
  <div class='col col-lg-4 col-md-2 col-xs-0'></div>
  
  <div class='col col-lg-4 col-md-8 col-xs-12'>
   <h2>User Change Password</h2>
   <%= form_tag change_password_path, method: 'patch' do %>
     <%= check_box_tag :show_password, nil, false, class: 'show_password' %> Show password    
     <table class='table-condensed'>
       <tr>
         <td>
          <%= password_field_tag :old_password, params[:old_password], size: 50, placeholder: 'Old Password', class: 'form-control' %>          
         </td>
       </tr>
       <tr>
         <td>
          <%= password_field_tag :new_password, nil, size: 50, placeholder: 'New Password', class: 'form-control' %>          
         </td>
       </tr>
       <tr>
         <td>
          <%= password_field_tag :confirm_new_password,nil, size: 50, class: 'form-control', placeholder: 'Confirm New Password' %>           
         </td>
       </tr>  
     </table>
     <div id='frm-chg-pwd-submit'><%= submit_tag "Save Changes", class: 'btn btn-primary btn-lg' %></div>
   <% end %>
  </div>
  
  <div class='col col-lg-4 col-md-2 col-xs-0'></div>
</div>

