<%= error_message_for @user if @user.errors.any? %>

<%= form_for @user, html: {multipart: true} do |f| %>
  <div class='col-lg-2 col-md-2 '>    
    <%= image_tag @user.image? ? @user.image.url : 'user.png' , size: '150x150', alt: 'Image Not found' %><br /><br />    
    <%= f.file_field :image %>
    <%= link_to 'Browse..', '#', id: 'users_image', class: 'btn btn-default btn-block' %>
  </div>
  
  <div class='col col-lg-8 col-md-8 '>    
    <div id='user-details'>              
      <table class='table-condensed' id='tbl-new-user'>    
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, size: 50, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, size: 50, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :display_name %></td>
      <td><%= f.text_field :display_name, size: 50, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :birthdate %></td>
      <td><%= f.date_select :birthdate, {size: 50}, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :username %></td>
      <td><%= f.text_field :username, size: 50, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, size: 50, class: 'form-control' %></td>
    </tr>
    <% if action_name == 'new' %>
      <tr>
      <td><%= f.label :password %></td>
      <td>
        <%= f.password_field :password, size: 50, class: 'form-control' %>        
      </td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td>
        <%= f.password_field :password_confirmation, size: 50, class: 'form-control' %>        
      </td>
    </tr>
    <% end %>    
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, size: '50x2', class: 'form-control' %></td>
    </tr>    
  </table> 
    </div>
  </div>
   
  <div id='frm-user-submit'><%= f.submit( (@user.new_record? ? "Create New User" : "Save Changes"),  class: 'btn btn-success') %></div>

<% end -%>