
<table class= 'table table-condensed user-show-tbl'>
  <% if admin? %>
    <tr>
      <th>User Role</th>
      <td><%= user.role.name %></td></td>
    </tr>
  <% end %>
  <tr>
    <th>Username</th>
    <td><%= user.username %></td></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= user.name%></td>
  </tr>
  <tr>
    <th>Display Name</th>
    <td><%= user.display_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <th>Birthdate</th>
    <td><%= user.birthdate if user.birthdate %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= user.description%></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= user.created_at.strftime("%B %d %Y") %></td>
  </tr>
</table>
