<table class= 'table table-bordered table-condensed course-show-tbl'>
  <tr>
    <th>Course Category</th>
    <td><%= course.category ? course.category.name : "None" %></td></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= course.title %></td></td>
  </tr>
  <tr>
    <th>Download Link</th>
    <td><%= course.download_link %></td>
  </tr>
  <tr>
    <th>Completed</th>
    <td><%= course.completed ? 'YES' : 'NO' %></td>
  </tr>
  <tr>
    <th>Taked At</th>
    <td><%= course.taked_at.strftime("%d %B %Y") %></td>
  </tr>
  <tr>
    <th>Completed At </th>
    <td><%= course.completed_at.strftime("%d %B %Y") %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= course.created_at.strftime("%d %B %Y") %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= course.notes %></td>
  </tr>
</table>
